maya-prymary = #7C64BF;
maya-black = #000000;
maya-light = #FFFFFF;
maya-dark = #292140;
maya-gentle = #846ACC;
maya-alert = #b40a35;
maya-warning = #edf101;

/* Color Theme Swatches in RGBA */
.maya-black { color: maya-black; }
.maya-dark { color: maya-dark; }
.maya-prymary { color: maya-prymary; }
.maya-gentle { color: maya-gentle; }
.maya-light { color: maya-light; }
.maya-alert{ color: maya-alert;}
.maya-warning{ color: maya-warning;}

.maya-black-bg { background: maya-black; }
.maya-dark-bg { background: maya-dark; }
.maya-prymary-bg { background: maya-prymary; }
.maya-gentle-bg { background: maya-gentle; }
.maya-light-bg { background: maya-light; }
.maya-alert-bg{ background: maya-alert;color:maya-light;}
.maya-warning-bg{ background: maya-warning;}

.maya-black-line { border-color: maya-black;}
.maya-dark-line { border-color: maya-dark; }
.maya-prymary-line { border-color: maya-prymary; }
.maya-gentle-line { border-color: maya-gentle; }
.maya-light-line { border-color: maya-light; }
.maya-alert-line{ border-color: maya-alert;}
.maya-warning-line{ border-color: maya-warning;}

.maya-boton{
    text-decoration: none;
    height: 35px;
    border: none;
    border-radius: 10px;
}
a{
    color:black;
}
.maya-boton:hover{
    background: #7C64BF;
    }