/* testeadores de linea  */
.tester{
    border: 1px solid #292140 ;
}

.tester2{
    border: 1px solid #7C64BF;
}

/* testeadores de fondo   */
.tester3{
    background-color:#846ACC;
    border: 1px solid #292140;
}

.tester4{
    background-color:#292140;
    border: 2px solid #846ACC;
}

.tester5{
    background-color:#9f0303;
    border: 2px solid red;
}

.tester,.tester2,.tester3,.tester4,.tester5,.tester6{
        box-sizing: border-box;
}